<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserActionControllerServlet</servlet-name>
  	<display-name>UserActionControllerServlet</display-name>
  	<description></description>
  	<servlet-class>controller.UserActionControllerServlet</servlet-class>
  </servlet>
  
  	<servlet>
  		<servlet-name>ReservationSuccess</servlet-name>
		<display-name>ReservationSuccess</display-name>
		<description></description>
		<servlet-class>controller.ReservationSuccess</servlet-class>
	</servlet>
	
  <servlet-mapping>
  	<servlet-name>UserActionControllerServlet</servlet-name>
  	<url-pattern>/controller</url-pattern>
  </servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>ReservationSuccess</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
